@font-face{
    font-family: "open-sans" ;
    src: url(./type/Open_Sans/OpenSans-Regular.ttf);

}
html, body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 3rem;
    margin-top: 0;
    font-family: 'Bebas Neue', cursive;
}
body > * {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "open-sans";
}
.items {
    display: flex;
    flex-direction: column;
}
.item {
    background: white;
    border-radius: 3px;
}
footer {
    display: flex;
}
footer .column {
    width: 33.33%;
}
footer a {
    text-decoration: none;
    color: gray;
}
@media (min-width: 650px) {
    body > * {
        box-sizing: border-box;
        font-size: 1.25rem;
    }
    .items {
        flex-direction: row;
    }
    .item {
        background: white;
        margin: 0 10px;
    }
}